<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit User</h4>
            </div>
            <form name="editUserForm" novalidate ng-repeat="editUserFormData in singleUser">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="form-control " type="hidden" name="UserId" ng-model="editUserFormData.UserId">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input class="form-control" type="email" id="email" name="email" ng-model="editUserFormData.EmailId" required placeholder="xxx@xxx.com">
                                <span class="error-text" ng-show="editUserForm.email.$error.required && editUserForm.email.$touched">Required</span>
                                <span class="error-text" ng-show="!editUserForm.email.$error.required && editUserForm.email.$error.email && editUserForm.email.$dirty">Invalid Email</span>
                            </div>
                            <div class="form-group">
                                <label for="username">Customer Name:</label>
                                <input class="form-control" type="text" id="username" name="username" ng-model="editUserFormData.UserName" ng-bind="singleUser.UserName" ng-pattern="/^[\w -]*$/" ng-minlength="2" ng-maxlength="20" maxlength="20" required placeholder="Customer Name">
                                <span class="error-text" ng-show="editUserForm.username.$error.required && editUserForm.username.$touched">Required</span>
                                <span class="error-text" ng-show="!editUserForm.username.$error.minLength && !editUserForm.username.$error.maxLength && editUserForm.username.$error.pattern && editUserForm.username.$touched">Name must contain letters and space only.</span>
                                <span class="error-text" ng-show="!editUserForm.username.$error.required && (editUserForm.username.$error.minlength || editUserForm.username.$error.maxlength) && editUserForm.username.$touched">Name must be between 2 and 20 characters.</span>
                            </div>
                            <div class="form-group">
                                <label>Role:</label>
                                <br />
                                <label class="radio-inline">
                                    <input type="radio" name="role" ng-model="editUserFormData.Role" value="admin">Admin</label>
                                <label class="radio-inline">
                                    <input type="radio" name="role" ng-model="editUserFormData.Role" checked value="user">User</label>
                            </div>
                            <div class="form-group">
                                <label>Accessable To:</label>
                                <div class="clearfix">
                                    <!-- donot delete this -- clear both property -->
                                </div>
                                <div class="access-checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="CStoreAnalytics" ng-model="editUserFormData.CStoreAnalytics" ng-required="!(editUserFormData.CStoreAnalytics
                                        || editUserFormData.CameraAnalytics
                                        || editUserFormData.WifiAnalytics)">C Store Analytics
                                    </label>
                                    <input class="form-control mar-bot-5" type="text" name="XAuthIdentity" ng-model="editUserFormData.XAuthIdentity" ng-disabled="!editUserFormData.CStoreAnalytics" placeholder="X-Auth-Identity">
                                    <input class="form-control" type="password" name="XAuthKey" ng-model="editUserFormData.XAuthKey" ng-disabled="!editUserFormData.CStoreAnalytics" placeholder="X-Auth-Key">
                                </div>
                                <div class="access-checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="CameraAnalytics" ng-model="editUserFormData.CameraAnalytics" ng-required="!(editUserFormData.CStoreAnalytics
                                        || editUserFormData.CameraAnalytics
                                        || editUserFormData.WifiAnalytics)">Camera Analytics
                                    </label>
                                    <input class="form-control mar-bot-5" type="text" name="AuthorizationToken" ng-model="editUserFormData.AuthorizationToken" ng-disabled="!editUserFormData.CameraAnalytics" placeholder="Token Id">
                                </div>
                                <div class="access-checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="WifiAnalytics" ng-model="editUserFormData.WifiAnalytics" ng-required="!(editUserFormData.CStoreAnalytics
                                        || editUserFormData.CameraAnalytics
                                        || editUserFormData.WifiAnalytics)">Wifi Analytics
                                    </label>
                                    <input class="form-control mar-bot-5" type="text" name="WifiUserName" ng-model="editUserFormData.WifiUserName" ng-disabled="!editUserFormData.WifiAnalytics" placeholder="Wifi Username">
                                    <input class="form-control" type="password" name="WifiPassword" ng-model="editUserFormData.WifiPassword" ng-disabled="!editUserFormData.WifiAnalytics" placeholder="Wifi Password">
                                </div>
                                <div class="clearfix">
                                    <!-- donot delete this, clear both property -->
                                </div>
                                <span class="error-text">{{atleastOneChecked}}</span>
                                <p class="note-text">Make sure you have entered proper credentials</p>
                            </div>
                            <div class="form-group">
                                <label for="userPassword">Password:</label>
                                <input class="form-control" type="password" id="userPassword" name="userPassword" placeholder="Password" ng-model="editUserFormData.Password" ng-minlength="8" ng-maxlength="20" maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
                                <span class="error-text" ng-show="editUserForm.userPassword.$error.required && editUserForm.userPassword.$touched">Required</span>
                                <span class="error-text" ng-show="!editUserForm.userPassword.$error.required && (editUserForm.userPassword.$error.minlength || editUserForm.userPassword.$error.maxlength) && editUserForm.userPassword.$dirty">Passwords must be between 8 and 20 characters.</span>
                                <span class="error-text" ng-show="!editUserForm.userPassword.$error.required && !editUserForm.userPassword.$error.minlength && !editUserForm.userPassword.$error.maxlength && editUserForm.userPassword.$error.pattern && editUserForm.userPassword.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
                            </div>
                            <div class="form-group">
                                <label for="cPassword">Confirm password:</label>
                                <input class="form-control" type="password" id="cPassword" name="cPassword" placeholder="Confirm Password" ng-model="editUserFormData.cPassword" required>
                                <span class="error-text" ng-show="editUserForm.cPassword.$error.required && editUserForm.cPassword.$touched">Required</span>
                                <span class="error-text">{{pNotMatching}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" ng-disabled="!editUserForm.$valid" ng-click="editUser(editUserFormData)" class="btn redcolor-btn">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>