<h2 class="page-title">Wifi Analytics</h2>
<p ng-if="fortinetMainLoader"><img src="images/preloader.gif" width="30"></p>
<div ng-if="fortiSuccessStatus">
    <div class="row">
        <div class="col-sm-12">
            <ul class="sub-nav">
                <li><a class="sub-nav-links" ui-sref="fortinent.fortinenthome" href="#/fortinent.fortinenthome"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li class="dropdown">
                    <a class="sub-nav-links dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Customer KPI<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-arrow multi-level">
                        <li><a ui-sref="fortinent.fortinentpersonvisible" href="#/fortinent.fortinentpersonvisible">Person Visible</a></li>
                        <li><a ui-sref="fortinent.fortinentpersontophours" href="#/fortinent.fortinentpersontophours">Person top hours</a></li>
                        <li><a ui-sref="fortinent.fortinentcustdwelldist" href="#/fortinent.fortinentcustdwelldist">Dwell Time Distribution</a></li>
                        <li><a ui-sref="fortinent.fortinentcustrecedist" href="#/fortinent.fortinentcustrecedist">Recency Distribution</a></li>
                        <li><a ui-sref="fortinent.fortinentfreqdist" href="#/fortinent.fortinentfreqdist">Frequency Distribution</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="sub-nav-links dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown"><span class="glyphicon glyphicon-time"></span> Realtime<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-arrow" aria-labelledby="dropdownMenu2">
                        <li><a ui-sref="fortinent.fortinentrealcalibration" href="#/fortinent.fortinentrealcalibration">Calibration</a></li>
                        <li><a ui-sref="fortinent.fortinentrealtimetrack" href="#/fortinent.fortinentrealtimetrack">Real time tracking</a></li>
                        <li class="dropdown-submenu">
                            <li><a ui-sref="fortinent.fortinentrealdensheatmap" href="#/fortinent.fortinentrealdensheatmap">Current Density Heatmap</a></li>
                    </ul>
                    </li>
                    <li class="dropdown">
                        <a class="sub-nav-links dropdown-toggle" id="dropdownMenu3" data-toggle="dropdown"><span class="glyphicon glyphicon-map-marker"></span> Maps<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-arrow" aria-labelledby="dropdownMenu3">
                            <li class="dropdown-submenu">
                                <a>Popularity heatmap</a>
                                <ul class="dropdown-menu">
                                    <li><a ui-sref="fortinent.fortinentpmapcdwelltime" href="#/fortinent.fortinentpmapcdwelltime">Cumulative <br>dwell time / day</a></li>
                                    <li><a ui-sref="fortinent.fortinentpmapcpersons" href="#/fortinent.fortinentpmapcpersons">Cumulative <br>persons / day</a></li>
                                    <li><a ui-sref="fortinent.fortinentpmapctraffic" href="#/fortinent.fortinentpmapctraffic">Cumulative <br>traffic / day</a></li>
                                </ul>
                            </li>
                            <li><a ui-sref="fortinent.fortinentpmappophotspot" href="#/fortinent.fortinentpmappophotspot">Popularity Hotspots</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="sub-nav-links dropdown-toggle" id="dropdownMenu3" data-toggle="dropdown"><span class="glyphicon glyphicon-bullhorn"></span> Campaign<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-arrow" aria-labelledby="dropdownMenu3">
                            <li><a ui-sref="fortinent.fortinentcampcreate" href="#/fortinent.fortinentcampcreate">Create Campaign</a></li>
                            <li><a ui-sref="fortinent.fortinentcampresult" href="#/fortinent.fortinentcampresult">Results</a></li>
                        </ul>
                    </li>
            </ul>
        </div>
        <div class="col-sm-12">
            <div data-ui-view></div>
        </div>
    </div>
</div>
<div ng-if="fortiErrorStatus">
    <p class="notification-msg">We're sorry, but something went wrong.</p>
</div>